.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile-heading {
  margin: 20px 0; 
  text-align: center;
}

.profile-separator {
  margin: 10px 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.profile-card {
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image img {
  max-width: 100%;
  margin-bottom: 20px;
}

.profile-details {
  text-align: left;
  font-family: "Times New Roman", Times, serif; 
}

.profile-label {
  font-weight: bold;
}

.update-password-btn {
  margin-top: 20px;
  width: 100%;
}
