<div  id="footer">
  <h2 class="section section-divider" id="about-us">About Us</h2>
  <p id="about-us info">
    At Cine MovieX, we are passionate about bringing the magic of cinema to your fingertips. With a commitment to seamless and secure movie bookings, we strive to provide you with an unparalleled movie-going experience. Our dedicated team is here to ensure your entertainment needs are met with excellence. Trust us to deliver your favorite movies, hassle-free. Your cinematic journey begins with Cine MovieX.
  </p>
  <div class = "divider"></div>

  <h2 class="section section-divider" id="'contact-us'">Contact Us</h2>
  <address>
    <p>Address: 123 Movie Street, Movie Road, 12345</p>
    <p>Email: info@cinemoviex.com</p>
    <p>Phone: +123 456 7890</p>
  </address>
</div>
  